#### Q1. Declare a list and find its length?

In [1]:
a=[2,3,6,'saurabh ranjan']
len(a)

4

#### Q2. Can list be nested?

In [3]:
#yes
b=[2,3,4,[4,5,6]]
type(b)

list

In [4]:
b

[2, 3, 4, [4, 5, 6]]

#### Q3. What will happen if we add the two lists

l1=[2,4,5,1]
l2= [3,2,6,7]

In [5]:
#both list will concatinate
I1=[2,4,5,1]
I2=[3,2,6,7]
I3=I1+I2
I3

[2, 4, 5, 1, 3, 2, 6, 7]

#### Q4. What will happen if we multiply the following list by 3

l1=[2,4,5,1]

In [7]:
#it will print the list 3 time back to back
I1=[2, 4, 5, 1]
I1*3

[2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5, 1]

#### Q5. Use indexing to grab the word "Test Yantra" from the following list

In [55]:
lst1 = [1,3,5,7,"Test Yantra"]
lst1[4]

'Test Yantra'

#### Q6. Use indexing to grab the word "Data Science" from the following list

In [17]:
lst3=[33,21,4,6,7,[[2,1,34,"DataScience"], 22,True]]
lst3[5][0][3]

'DataScience'

#### Q7. Use indexing to grab the word "Python" from the following list

In [20]:
lst = [1,2,[3,4],[5,[100,200,['Python']],23,11],1,7]
lst[3][1][2]

['Python']

#### Q8. Use indexing to grab the word "hello" from the following list

In [28]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst1=lst[3][1][2]
lst1[0].upper()

'HELLO'

 #### Q9. Given this nested list, use indexing to grab the word "final_target"

In [56]:
nest = [1,2,3,[4,5,['target', 'next_target',['final_target']]]]
nest[3][2][2][0]

'final_target'

#### Q10. name some in-built methods for list and give example for each of them

In [57]:
a=[5,4,3]
a.sort()
a

[3, 4, 5]

#### Q11. What is the difference between 'del' and 'clear' with respect to list ?

In [58]:
#clear will clean clear the list to zero value list
#del will delete the list from the memory

a=[2,3,4]
a.clear()
a
b=[5,6,7,8]
del(b)

#### Q12. Write codes to create a dictionary and use some inbuilt methods

In [41]:
dict={"name": ['saurabh','mickey','iceflames'], "age": [23, 24 ,25]}
dict.keys()

dict_keys(['name', 'age'])

#### Q13.Given this nested dictionary grab the word "val3".

In [59]:
d = {'key1':{'val1':{'val2':'val3'}}}
d['key1']['val1']['val2']

'val3'

#### Q14.Given this nested dictionary grab the word "welome"

In [63]:
d1 = {'key1':[1,3,5,{'hello':[{'world':[4,6,'welcome']},'a','e','g']}]}
d1['key1'][3]['hello'][0]['world'][2]

'welcome'

#### Q15.Given this nested dictionary grab the word "Data Scientist"

In [67]:
d1 = {'key1':[1,3,5,{'I am':[5,7,8,[{'a':[4,6,['Data Scientist']]},'a','e','g']]}]}
d1['key1'][3]['I am'][3][0]['a'][2][0]

'Data Scientist'

#### Q16.Given this nested dictionary grab the word "hello".

In [69]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

#### Q17.  Create one Tuple and use some methods associated with that

In [51]:
a=(2,3,2,3,4,5,66,4,5,6)
a.count(2)

2

#### Q18.  Create some Sets and use some methods associated with that

In [52]:
a={2,6,5,8,9,7,3}
b={4,3,5,6,8}
a.union(b)

{2, 3, 4, 5, 6, 7, 8, 9}

In [70]:
%pwd

'C:\\Users\\Saurabh Ranjan'